@import "tailwindcss";

@theme {
  --color-primary: #211A17;
  --color-secondary: #F4EBDD;
  --color-accent: #B86B3D;
  --color-background: #2F2925;
}

@layer base {
  * { box-sizing: border-box; }
  body { margin: 0; }
}
